
<main class="container pt-5" style="top: 300px;">
        <div class="row pt-5">
          <div class="col-sm-3 col-12">
                    <nav class="nav flex-column">


<div class="price">
          </nav>
          </div>
          <div class="col-sm-12 col-12">
            <div>
            </div>

<p class="invisible"><%= total_price = 0 %></p>
<div class="col-12">
  <div class="row">
    <% @items.each do |item| %>
    <% total_price += item.product.price * item.quantity%>
    <div class="card bg-dark text-dark">
    <img src="<%= item.product.image %>" class="card-img-top" alt="Card image cap" style ="object-fit: cover;
    height: 300px;">
     <div style="color: $gray-500; text-decoration: underline;">
        <h5 class="card-title" style="color: white;" ><%= item.product.title%></</h5>
        <p class="card-text" style="color: grey;"><%= number_to_currency(item.product.price, unit: "UAH", separator: ",", delimiter: " ", format: "%n %u") %></p>

              <p class="cart-text"> Тривалість(місяців): <%= item.quantity %>

              <%= link_to '▲', add_quantity_product_order_item_path(item.product, item),method: :get, class: "btn btn-outline-light"%>
              <%= link_to '▼', remove_quantity_product_order_item_path(item.product, item), class: "btn btn-outline-light", method: :get %>  
              <p></p>
              <%= link_to 'Видалити з замовлень', product_order_item_path(item.product, item), class: "btn btn-outline-light", method: :delete%>


      </div>


    </div>
    <div>
      </br>
    </div>
    
<% end%>
<div class="text-center"><%= link_to "Підтвердити", complete_order_path, class: 'btn btn-outline-light' %></div>
<h3 style="color: white;">Загальна сумма: <%= total_price %> </h3>
</br>

 </div>
</br>
</div>


      </main><!-- /.container -->
 


