
	<div class="card h-100" style="background-color: black;">
<%= link_to product do%>
	<div class="card bg-dark text-dark">
	  <img src="<%= product.image %>" class="card-img-top" alt="Card image cap" style ="object-fit: cover;
    height: 300px;">
	 <div style="color: $gray-500; text-decoration: underline;">
	    <h5 class="card-title" style="color: white;" ><%= product.title%></</h5>
	    <p class="card-text text-truncate" style="color: white;"><%= product.description%></p>
	    <p class="card-text" style="color: grey;"><%= number_to_currency(product.price, unit: "UAH", separator: ",", delimiter: " ", format: "%n %u") %></p>
	  </div>
	</div>



  	
<% end%>
	</div>